@{
    ViewData["Title"] = "Home Page";
}
<br />
<br/>
<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <strong>Aura</strong>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-bordered table-striped" id="aura-table">
                <thead>
                    <tr>
                        <th>Object</th>
                        <th>Action</th>
                        <th>Object Name</th>
                        <th>Event DateTime</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>Halo</strong>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-bordered table-striped" id="halo-table">
                <thead>
                    <tr>
                        <th>Object</th>
                        <th>Action</th>
                        <th>Object Name</th>
                        <th>Event DateTime</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <strong>CAM</strong>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-bordered table-striped" id="cam-table">
                <thead>
                    <tr>
                        <th>Object</th>
                        <th>Action</th>
                        <th>Object Name</th>
                        <th>Event DateTime</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Client Base</strong>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-bordered table-striped" id="clientbase-table">
                <thead>
                    <tr>
                        <th>Object</th>
                        <th>Action</th>
                        <th>Object Name</th>
                        <th>Event DateTime</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
